<div class="latest_post">
  <h2><span>Bài viết mới nhất</span></h2>
  <div class="latest_post_container">
    <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
    <ul class="latest_postnav">
      <% latestArticles.forEach(latestArticle=> { %>
      <li>
        <div class="media">
          <a href="/home/<%= latestArticle.ctgSlug %>/<%= latestArticle.slug %>" class="media-left">
            <% if (latestArticle.coverImagePath != null) { %>
            <img src="<%= latestArticle.coverImagePath %>" />
            <% } else { %>
            <img src="images/post_img1.jpg">
            <% } %>
          </a>
          <div class="media-body">
            <a href="/home/<%= latestArticle.ctgSlug %>/<%= latestArticle.slug %>" class="catg_title">
              <%= latestArticle.title %>
            </a>
          </div>
        </div>
      </li>
      <% }) %>
    </ul>
    <div id="next-button"><i class="fa fa-chevron-down"></i></div>
  </div>
</div>